@media screen and (max-width: 768px) {
    .wrapper-profile-items{
        flex-direction: column;
    }

    .span-column{
        flex-direction: column;
    }

    .text-16px-700{
        margin: 0;
    }

    .text-16px-500{
        margin: 0;
        margin-top: 0.5em;
    }

    .text-56px-800{
        margin-top: 1em;
    }

    .info-profile{
        padding: 0;
    }

    .wrapper-profile{
        border-radius: 0;
    }

    .nav-menu{
        display: none;
    }

    .nav-logo{
        margin: 0;
    }

    nav,  .form-button{
        justify-content: center;
    }

    .wrapper-profile, .wrapper-form{
        padding: 5%;
    }

    input{
        width: 100%;
    }

    .div-foreground{
        transform: matrix(-1, 0, 0, 1, 0, 0);
        
    }

    .position-bottom{
        left: 380px;
        bottom: -2em;
    }

    .form-button button{
        width: 100%;
        margin-bottom: 1em;
    }

    .completed, .form-button .text-16px-500{
        margin: 0;
    }

    .form-button .text-16px-500{
        margin: 5px 0 0 5px;
    }

    .div-foreground-form{
        display: none;
    }

    .wrapper-title-form .div-foreground{
        display: block;
    }

    .grid-form{
        gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .span{
        grid-column: 1 /1;
    }
    
    select{
        width: 86%;
    }
  }